<body>
  <div class="form">
    <img src="../../assets/img/logo-yavirac.png" class="avatar">
    <h2>Inscripción Ponente</h2>
    <!-- <form [formGroup]="editarForm">
      <div *ngFor="let item of respuesta">
        <p>Nombres</p>
        <input [(ngModel)]="item.nombres" type="text" name="nombres" id="nombres"
          placeholder="Ingrese sus dos nombres">
        <p>Apellidos</p>
        <input [(ngModel)]="item.apellidos" type="text" name="apellidos" id="apellidos"
          placeholder="Ingrese sus dos apellidos">
        <p>Correo Electrónico</p>
        <input [(ngModel)]="item.email" type="email" name="email" id="email"
          placeholder="Ingrese su correo electrónico">
        <p>Categoría</p>
        <div class="caja">
          <select [(ngModel)]="item.categoria" name="categoria" id="categoria">
            <option value="" disabled>Seleccione...</option>
            <option value="">Tecnologico</option>
            <option value="">Cientifico</option>
            <option value="">Social</option>
            <option value="">Economico</option>
          </select>
        </div>
        <p>Tema</p>
        <input [(ngModel)]="item.tema" type="text" name="tema" id="tema" placeholder="Ingrese el tema">
        <p>Resumen</p>
        <textarea [(ngModel)]="item.resumen" name="resumen" id="resumen" cols="64" rows="3"></textarea>
        <p>Institución</p>
        <input [(ngModel)]="item.institucion" type="text" name="institucion" id="institucion"
          placeholder="Acerca de usted">
        <input type="submit" value="Enviar" (click)="editData()">
      </div>
    </form> -->
  </div>
</body>